<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="SqlCe" connectionString="Data Source=EasySales.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <add name="EasySalesSqlServer" connectionString="Data Source=DRMILLER_BOOK;Initial Catalog=EasySales;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>